a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 60%;

  display: grid;
  grid-template-areas:
    "cover title"
    "cover author";
  grid-template-columns: 60px auto;
  grid-template-rows: 1fr auto;
  gap: 10px;
}

.cover {
  grid-area: cover;

  max-width: 60px;
  max-height: 60px;
  width: 100%;
  height: auto;
}

.title {
  grid-area: title;
  align-self: center;

  color: #000000;
  font-size: 16px;
  font-weight: 600;
}

.author {
  grid-area: author;
  align-self: start;

  color: #000000;
  font-size: 14px;
  font-weight: 500;

  b,
  p {
    display: inline;
  }
}
